.productPageWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.productPageImage > img {
  height: 50vw;
  width: 70%;
  margin: 35px auto 0 auto;
}

.detailsWrapper {
  height: 500px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  flex-basis: 450px;
  margin: 0 25px;
}

.productPageTitle {
  font-size: 25px;
  color: grey;
  margin: 10px;
}

.productPageDescription {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin: 10px 0;
  padding: 20px 0;
  color: grey;
  text-align: start;
  letter-spacing: 0.1em;
  line-height: 30px;
}

.productPageNextStep {
  flex-basis: 300px;
  margin: 25px 25px;
}

.productPageLoader {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productPageMainPrice {
  border: 1px solid lightgray;
  height: 50px;
  line-height: 50px;
}

.productPageBtnWrapper {
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
}

.cartPopupWrapper {
  background: rgba(0, 0, 0, 0.2);
  height: 93vh;
  width: 100vw;
  /* position: absolute; */
}

.rateBtn {
  border: none;
  color: #ffffff;
  height: 35px;
  width: 150px;
  background-color: #77C9D4;
  border-radius: 15px;
}


.star {
  display: flex;
  color: #77C9D4;
  margin: 10px 0;
  justify-content: center;
}
.star svg {
  font-size: 30px;
  cursor: pointer;
}





















@media (min-width: 500px) {
  .productPageImage > img {
    height: 40vw;
    width: 50%;
  }
  
}

@media (min-width: 700px) {
  .productPageImage > img {
    height: 400px;
    width: 300px;
    margin: 25px 20px;
  }
  
  .productPageWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }

  .detailsWrapper {
    height: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
    margin: 0 0;
  }
  
}