.signupWrapper {
  height: 100vh;
  width: 520px;
  box-shadow: 0 0 10px 0px grey;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.logoWrapper {
  margin: 20px auto;
}

.signupWrapper input {
  height: 30px;
  width: 390px;
  margin: 15px 0;
  box-shadow: 0px 1px 4px 0 grey;
  border: none;
  outline: none;
  padding: 10px;
  caret-color: #77C9D4; 
}

.signupBtn {
  height: 40px;
  width: 350px;
  background-color: #77C9D4;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 1px 4px 0 grey;
  margin: 10px 0;
  color: #FFFFFF;
}

.signupBtn:hover {
  cursor: pointer;
  background-color: #94d7e0 ;
}