header {
  color: #77C9D4;
  font-size: 24px;
  font-weight: 300;
}

.horLine {
  width: 50px;
  background-color: #77C9D4;
  border-color: transparent;
}

.yourProdLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}