.products-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 50px
  /* margin: 0 50px; use this with when applying media query */
}

.home-header  {
  color: #77C9D4;
  font-weight: 400;
}

/* @media only screen and (max-width: 700px) {
  .home-header {
    width: 60%;
    margin: auto;
  }
} */