.products-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 50px
}

.home-header  {
  color: #77C9D4;
  font-weight: 400;
}


.homeLoaderWrapper {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}