.singleProdContainer {
  height: 200px;
  width: 90%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px 1px lightgrey;
}

.roundProd {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 0 7px 0px #77C9D4;
  margin: 10px;
}

.editProdBtn {
  margin: 10px;
  height: 30px;
  width: 100px;
  border-radius: 20px 20px;
  border: none;
  background-color: #77C9D4;
  color: #ffffff;
}
