.slideshow {
  margin: 0 auto;
  overflow: hidden;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 200px;
  width: 100%;
  border-radius: 40px;
}


.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #77C9D0;
}

.slide > img {
  height: 200px;
  width: 100vw;
}

@media(min-width: 700px) {
  .slide > img {
    height: 270px;
    width: 70vw;

  }
}

@media(min-width: 900px) {
  .slide > img {
    height: 250px;
    width: 70vw;
  }
}

@media (min-width: 1600px) {
  .slide > img {
    height: 550px;

  }
}