.nav-wrapper {
  height: 100px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px 0px grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 500;
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-top-left {
  display: flex;
  align-items: center;
}

.ham-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.ham {
  height: 5px;
  margin: 2px;
  width: 30px;
  background: #77C9D4;
}

.logo {
  color: #77C9D4;
  font-size: xx-large;
  margin-left: 10px;
}

.logo:hover {
  cursor: pointer;
}

.right-items {
  display: flex;
  color: #77C9D4;
}

.right-items > div {
  margin: 0 10px;
}
.right-items > div:hover {
  cursor: pointer;
} 

.searchBar {
  height: 30px;
  width: 70vw;
  border: 0.2px solid #77C9D4;
  color: #77C9D4;
  padding: 0 10px;
  outline: none;
}

.searchBar:focus {
  box-shadow: 0 0 3px 0;
}

.searchBarWrapper {
  position: relative;
  width: 70vw;
  margin: 0 auto;
}

.searchBar::placeholder {
  color: #77C9D4;
}

.searchIcon {
  color: #77C9D4;
  position: absolute;
  right: -14px;
  top: 7px;
}

/* 
  make nested enhanced reducer
*/