.card-wrapper {
  height: 400px;
  width: 300px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 1px 4px 0 black;
  border-radius: 10px 10px;
}

.card-wrapper:hover {
  box-shadow: 0 1px 7px 0 black;
}

@media only screen and (max-width: 800px) {
  .card-wrapper {
    width: 250px;
    height: 400px;
  }
}

@media only screen and (max-width: 1120px) {
  .card-wrapper {
    width: 250px;
    height: 400px;
  }
}

.card-title{
  font-size: 20px;
  height: 50px;
  color: grey;
  text-overflow: ellipsis;
  /* just to make it work for now */
  overflow: hidden;
}



.image-wrapper img {
  width: 150px;
  height: 200px;
}

.image-wrapper {
  /* height: 100%;
  width: 100%;
  object-fit: contain; */
  margin: 10px;
  padding: 10px;
}

.image-wrapper:hover {
  cursor: pointer;
}

.card-price {
  color: grey;
  font-weight: 700;
  margin: 10px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}